<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>

        <div class="content is-small has-text-centered">
            <p>This site is hosted by <a href="https://lug.org.uk">Lug.org.uk</a>, who's infrastructure is provided by <a href="https://bitfolk.com/">BitFolk and <a href="http://www.jump.net.uk/">Jump Networks</a>.</p>
        </div>
        
        <div class="content is-small has-text-centered">
            <p>Except where otherwise attributed, content here is © 2019 OggCamp, a project of <a href="https://publicsoftware.eu/">Public Software CIC</a></p>
        </div>
    </div>
</footer>
