---
---

// Import Main CSS file from theme
@import "main";

// Now add OggCamp customisations
.oggcamp .hero.is-medium .hero-body {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.oggcamp .hero.is-large .hero-body {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.oggcamp .section p {
    padding-bottom: 1em;
}

.oggcamp h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}


.oggcamp h2 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}

.oggcamp h3 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.oggcamp img.speaker {
    width: 150px;
    max-width: 150px;
    margin: 15px;
    padding: 0 30px 0 0;
}

.oggcamp #CirclesText {
    font-size: 400%;
}

//Height fix for YouTube embed
.oggcamp .YouTubeEmbed {
    height: 480px;
}

//Height fix for Crew form embed
.oggcamp .googleform {
    height: 2076px;
}

.oggcamp img.right-float-blog {
    width: 200px;
    max-width: 200px;
    float: right;
    margin: 10px;
    padding: 0 30px 0 0;
}

.oggcamp img.right-float-crew {
    width: 400px;
    max-width: 400px;
    float: right;
    margin: 10px;
    padding: 0 30px 0 0;
}


.oggcamp time {
    font-weight: bold;
    margin-bottom: 1em;
}

.oggcamp img.sponsor-image-silver {
    max-width: 400px;
}

.oggcamp img.sponsor-image-gold {
    max-width: 600px;
}

.oggcamp img.sponsor-image-platinum {
    max-width: 800px;
}

#SponsorBlock p {
    text-align: center;
}

.oggcamp ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-bottom: 1em;
}
