@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

html {
	background-color: rgb(32,32,32);
}

body {
	background-color: rgba(0,0,0,0.97);
	color: rgba(255,255,255,0.7);
	margin: auto;
	width: 80%;
	font-family: "Open Sans";
	padding-bottom: 15px;
}

header, nav, main, footer {
	margin: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed rgba(255,255,255,0.5);
}

h1, footer, header, nav {
	text-align: center;
}

.ascii {
	color: rgba(255,255,255,1);
	font-weight: bold;
}

.logo {
	font: 10px/5px monospace;
}

nav ul {
	display: block;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	font-weight: bold;
}

nav img {
	display: inline;
	width: 24px;
	height: 24px;
	border: 0px rgba(255,255,255,0.5);
	margin-left: 0%;
	!important;
}	

a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-family: monospace;
}

.highlighter-rouge {
	color: rgba(255,255,255,0.4);
}

.highlight {
	color: rgba(255,255,255,0.7);
}

.highlight {
	border: 1px dashed rgba(255,255,255,0.3);
	padding: 15px;
	background-color: #0D0D0D;
}

img, main iframe {
	width: 80%;
	margin-left: 10%;
}

main header {
	text-align: center;
	padding-bottom: 15px;
	border: 0;
}

#headerimg {
	width: 100%;
	margin-left: 0;
	border: 0;
}

h1, h2, h3 {
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
}

.schedule {
    border: 1px solid rgba(255,255,255,0.5);
}

.schedule th, 
.schedule td {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 0;
    padding: 5px;
}
.schedule td {
    text-align: left;
}

.schedule .info {
    font-style: italic;
}

.HeaderBanner {
    font-size: 3.5em;
}

#SponsorPack img {
    width: 500px;
    margin: 0;
}

#SponsorPack a {
    text-align: center;
}

#SponsorPack {
    text-align: center;
}

img.speaker {
    width: 150px;
    margin: 15px;
}

#SponsorBlock {
    text-align: center;
}

#SponsorBlock a.all, p.all {
    margin: 0;
}

img.sponsor-image {
    width: 20em;
    text-align: center;
    margin: 1em;
}

img.sponsor-image-platinum {
    width: 25em;
    text-align: center;
    margin: 1em;
}

#CirclesText {
    font-size: 200%;
    margin-bottom: 10px;
}
